<h1 class="center">Template Driven Form</h1>
<div class="center">
    <form #basicForm='ngForm' (ngSubmit)="getData(basicForm.value)">
        <input type="text" #name="ngModel" ngModel name="user" placeholder="Enter Name" required />
        <br />
        <div *ngIf="name.touched && !name.valid">please enter username value</div>
        <br />
        <input type="email" #email="ngModel" ngModel name="email" placeholder="Enter Email" required />
        <br />
        <div *ngIf="email.touched && !email.valid">please enter email value</div>
        <br />
        <input type="password" #password="ngModel" ngModel name="password" placeholder="Enter Password" required />
        <br />
        <div *ngIf="password.touched && !password.valid">please enter password</div>
        <br />
        <button [disabled]="!basicForm.valid">submit</button>
    </form>
</div>