<p>add-user works!</p>
<p>{{myForm.value | json}}</p>
<form  (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    <div class="form-group ">
        <input id="id" class="id" type="hidden" name='id' value="">
        <label for="name">Email:</label>
        <input class="form-control" required  minlength="2" type="text"  name="email" id="email" [(ngModel)]="email">
        <label for="name">Age:</label>
        <input class="form-control" required min="1" type="number"  name="age" id="age" [(ngModel)]="age">
         <label for="name">Gender:</label>
        <input class="form-control" required type="text" name="gender" id="gender" [(ngModel)]="gender">
        <button class="btn btn-primary mt-3" [disabled]="myForm.invalid"  type="submit">Add</button>
    </div>
</form>