<h2>home works!</h2>
<!-- <div>
     <h3>Email:{{user.email}}</h3>
    <h4>Age:{{user.age}}</h4>
</div> -->
<nav> 
  <ul>
    <li><a routerLink="../addUser" routerLinkActive="active">Go to AddUser</a></li>
    <li><a routerLink="/main" routerLinkActive="active">Child A</a></li>
    <li><a routerLink="child-b" routerLinkActive="active">Child B</a></li>
    <li><a routerLink="login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="signup" routerLinkActive="active">SignUp</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>




